<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title> {{ first_name }} </title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/resumePage.css' %}" />        
</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>{{ first_name }} {{ last_name }}</h1>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3> {{ city }} {{ country }} </h3>
						<h3> {{ pin_code }} </h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2> {{ interestDesc }} </h2>
								</div>

						</div>
					</div>

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div>

						<div class="yui-u">

							<div class="job">
								<h2> {{ company }} </h2>
								<h4> {{ timePeriod }} </h4>
								<p> {{ workDesc }} </p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2> {{ institute }} - {{ city }}</h2>
							<h3> {{ degree }} in {{ eduField }} </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p> {{ first_name}} {{ last_name}} </p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
<button id="download">Download PDF</button>
<buttton id="printcv" onclick="printCV()">print</buttton>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/resumePage.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

</body>
</html>

